[Unit]
Description=Osmocom Media Gateway (MGW)

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/osmo-mgw -s -c /etc/osmocom/osmo-mgw.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
